In [6]:
import json
import os
import re
import glob

import pandas as pd

In [3]:
rows = []
for d in sorted(glob.glob('../logdirs/20190302/*')):
    exp_name = os.path.basename(d)
    output_from, upd_steps, upd_type, upd_tied, max_steps, batch_size = re.match(
        'output_from=([^,]+),upd_steps=(\d+),upd_type=([^,]+),upd_tied=([^,]+),max_steps=(\d+),batch_size=(\d+)', exp_name).groups()

    eval_paths = glob.glob(os.path.join(d, 'eval-val-step*-bs1.jsonl'))
    all_scores = []
    best = (0, 0)
    for eval_path in eval_paths:
        step = int(re.search('step(\d+)', eval_path).group(1))
        scores = json.load(open(eval_path))
        #best = max(best, (scores['total_scores']['all']['exact'], step))
        all_scores.append((scores['total_scores']['all']['exact'], step))
    all_scores.sort(reverse=True)
    if len(all_scores) == 0:
        all_scores = [(0, 0)]
    if len(all_scores) < 2:
        all_scores += all_scores
    rows.append((output_from, upd_steps, upd_type, upd_tied, max_steps, batch_size, len(eval_paths),
                 all_scores[0][1], all_scores[0][0], all_scores[1][1], all_scores[1][0]))
    print(d)
df = pd.DataFrame(rows, columns=('output_from', 'qenc', 'ctenc', 'upd_steps', 'max_steps', 'batch_size', 'num steps eval', 'step', 'acc', 'step', 'acc'))

../logdirs/20190302/output_from=false,upd_steps=4,upd_type=full,upd_tied=true,max_steps=40000,batch_size=10
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=full,upd_tied=true,max_steps=40000,batch_size=20
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=full,upd_tied=true,max_steps=80000,batch_size=10
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=full,upd_tied=true,max_steps=80000,batch_size=20
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=40000,batch_size=10
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=40000,batch_size=20
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=80000,batch_size=10
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=80000,batch_size=20
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=40000,batch_size=10
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=40000,batch_size=20
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=80000,batch_size=10
../logdirs/20190302/output_from=false,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=80000,batch_size=20
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=full,upd_tied=true,max_steps=40000,batch_size=10
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=full,upd_tied=true,max_steps=40000,batch_size=20
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=full,upd_tied=true,max_steps=80000,batch_size=10
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=full,upd_tied=true,max_steps=80000,batch_size=20
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=40000,batch_size=10
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=40000,batch_size=20
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=80000,batch_size=10
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=merge_types,upd_tied=false,max_steps=80000,batch_size=20
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=40000,batch_size=10
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=40000,batch_size=20
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=80000,batch_size=10
../logdirs/20190302/output_from=true,upd_steps=4,upd_type=no_subtypes,upd_tied=false,max_steps=80000,batch_size=20

In [4]:
df[df['output_from'] == 'false']

,output_from,qenc,ctenc,upd_steps,max_steps,batch_size,num steps eval,step,acc,step,acc
0,false,4,full,true,40000,10,20,12100,0.220503,10100,0.206963
1,false,4,full,true,40000,20,11,22100,0.250484,16100,0.233075
2,false,4,full,true,80000,10,28,42100,0.232108,38100,0.232108
3,false,4,full,true,80000,20,11,16100,0.235977,14100,0.229207
4,false,4,merge_types,false,40000,10,20,40000,0.178917,14100,0.175048
5,false,4,merge_types,false,40000,20,13,16100,0.182785,22100,0.178917
6,false,4,merge_types,false,80000,10,34,42100,0.187621,56100,0.186654
7,false,4,merge_types,false,80000,20,13,26100,0.190522,20100,0.184720
8,false,4,no_subtypes,false,40000,10,20,34100,0.186654,38100,0.184720
9,false,4,no_subtypes,false,40000,20,12,12100,0.176983,14100,0.176015
10,false,4,no_subtypes,false,80000,10,35,56100,0.192456,62100,0.187621
11,false,4,no_subtypes,false,80000,20,12,22100,0.183752,12100,0.182785

In [5]:
df[df['output_from'] == 'true']

,output_from,qenc,ctenc,upd_steps,max_steps,batch_size,num steps eval,step,acc,step,acc
12,true,4,full,true,40000,10,20,30100,0.224371,24100,0.217602
13,true,4,full,true,40000,20,9,16100,0.217602,18100,0.210832
14,true,4,full,true,80000,10,22,26100,0.213733,22100,0.210832
15,true,4,full,true,80000,20,9,18100,0.230174,16100,0.225338
16,true,4,merge_types,false,40000,10,20,38100,0.164410,32100,0.157640
17,true,4,merge_types,false,40000,20,10,20100,0.147002,14100,0.141199
18,true,4,merge_types,false,80000,10,26,32100,0.174081,36100,0.173114
19,true,4,merge_types,false,80000,20,10,8100,0.157640,20100,0.147002
20,true,4,no_subtypes,false,40000,10,20,38100,0.161509,26100,0.159574
21,true,4,no_subtypes,false,40000,20,10,12100,0.151838,8100,0.151838
22,true,4,no_subtypes,false,80000,10,26,22100,0.144101,24100,0.139265
23,true,4,no_subtypes,false,80000,20,10,20100,0.156673,18100,0.147002